@media (max-width: 1024px) {
    .invest-main {
        &__item {
            width: 150px;
            height: 150px;
        }
    }

    .choice-main {
        &__list {
            gap: 60px;
        }

        &__number {
            width: 200px;
            height: 200px;
        }
    }

    section {
        margin-top: 150px;
        margin-bottom: 150px;
    }

    .btn {
        padding: 20px 50px;
        font-size: 16px;
        font-weight: 300;
        line-height: 130%;
        letter-spacing: -0.03em;
        white-space: nowrap;

        &-transparent {
            padding: 20px 50px;
            font-size: 16px;
            font-weight: 300;
            line-height: 130%;
            letter-spacing: -0.03em;
            white-space: nowrap;
        }

        &-white {
            padding: 20px 50px;
            font-size: 16px;
            font-weight: 300;
            line-height: 130%;
            letter-spacing: -0.03em;
            white-space: nowrap;
        }

        &-black {
            padding: 20px 50px;
            font-size: 16px;
            font-weight: 300;
            line-height: 130%;
            letter-spacing: -0.03em;
            white-space: nowrap;
        }
    }

    .footer {
        margin-top: 150px;

        &__box {
            max-width: 225px;
        }

        .btn-transparent {
            padding: 10px 35px;
        }
    }

    .assets-conditions {
        &__box {
            padding: 10px 15px;
        }
    }

    .in-numbers-about {
        h2 {
            margin-bottom: -15px;
        }

        &__list {
            margin-top: 0;
            margin-bottom: 0;
            gap: 15px;
        }

        &__item {
            padding: 30px;
            gap: 15px;
        }

        &__title {
            font-size: 40px;
        }
    }
}