@media (max-width: 1024px) {
    .invest-main {
        &__item {
            width: 150px;
            height: 150px;
        }
    }

    .choice-main {
        &__list {
            gap: 60px;
        }

        &__number {
            width: 200px;
            height: 200px;
        }
    }

    section {
        margin-top: 150px;
        margin-bottom: 150px;
    }
}