@media (max-width: 1200px) {
    .header {
        .container {
            &.active {
                background: var(--black);
            }
        }

        &__nav {
            display: none;
            position: absolute;
            top: 71px;
            left: 0;
            width: 100%;
            height: calc(100vh - 71px);
            flex-direction: column;
            align-items: start;
            padding: 30px;
            background: var(--black);

            &.active {
                display: flex;
                animation: show-sub-menu .4s ease-in-out 0s 1 normal none;
            }
        }

        .menu {
            width: 100%;
            flex-direction: column;
            align-items: start;

            &>.menu-item {
                width: 100%;

                &.active {
                    .sub-menu {
                        width: calc(100% + 30px);
                        position: initial;
                        display: flex;
                        margin-top: 25px;
                        margin-left: -15px;
                        margin-right: -15px;
                        background: var(--grey-text);
                        opacity: 1;
                        box-shadow: none;
                        border-radius: 10px;
                        animation: show-sub-menu .3s ease-in-out 0s 1 normal none;

                        .menu-item {
                            width: 100%;

                            a {
                                width: 100%;
                                display: block;
                                color: var(--black);
                            }
                        }
                    }
                }
            }
        }

        &__burger {
            display: flex;
        }

        &__logo {
            width: 200px;
            height: 21px;
        }
    }

    .choice-platform {
        &__list {
            margin-top: 50px;
        }
    }
}