@media (max-width: 1400px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .basics-training {
        .container {
            &::before {
                display: none;
            }

            &::after {
                display: none;
            }
        }

        &__list {
            &::before {
                display: none;
            }
        }
    }
}