@media (max-width: 359px) {

    .widget-box {
        &__content {
            width: calc(100% + 40px);
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .documents-doc {
        h3 {
            font-size: 13px;
        }
    }

    .awars-about {
        &__list {
            grid-template-columns: 1fr;
        }
    }

    .pagination {
        li {
            width: 25px;
            height: 25px;
        }
    }

    .banner-text {
        font-size: 25px;
    }

    .banner-2 {
        .banner-text {
            font-size: 25px;
        }

        &__content {
            min-width: initial;
        }
    }

    .banner-3 {
        .banner-text {
            font-size: 25px;
        }
    }

    .how-quotes {
        &__item {
            padding: 30px 20px;
        }
    }

    .how-cryptocurrencies {
        &__item {
            padding: 30px 20px;
        }
    }

    .find-calendar {
        &__item {
            padding: 30px 20px;
        }
    }
}