@media (max-width: 500px) {
    .language {
        width: 100%;

        &__list {
            width: 100%;
            justify-content: center;
        }
    }

    .header {
        .menu {
            &>.menu-item {
                width: 100%;

                &>a {
                    width: 100%;
                    justify-content: space-between;
                }
            }
        }
    }

    .hero-contacts {
        &__box {
            padding: 0;
            border: none;
            background: none;

            img {
                border-radius: 4px;
            }
        }
    }

    .documents-doc {
        h3 {
            font-size: 15px;
        }
    }

    .start-main {
        &__item {
            grid-template-columns: 1fr;
            gap: 15px;

            &:nth-child(1) {
                &::before {
                    width: 84px;
                    height: 30px;
                }
            }

            &:nth-child(2) {
                &::before {
                    width: 84px;
                    height: 30px;
                }
            }

            &:nth-child(3) {
                &::before {
                    width: 84px;
                    height: 30px;
                }
            }

            p {
                font-size: 14px;
                text-align: center;
            }
        }

        &__box {
            justify-items: center;
            text-align: center;
        }
    }

    .calendar-analytics {
        h2 {
            font-size: 23px;
        }
    }

    .popular-currencies {
        h2 {
            width: 100%;
            margin-bottom: -15px;
            text-align: left;

            &+p {
                text-align: left;
            }
        }
    }

    .what-cryptocurrencies {
        &__item {
            h3 {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }

    .faq-currencies {
        &__list {
            width: calc(100% + 40px);
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .what-futures {
        h2 {
            width: 100%;
            text-align: left;

            &+p {
                text-align: left;
            }
        }
    }

    .what-indexes {
        &__item {
            h3 {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }
    }

    .open-quotes {
        h2 {
            width: 100%;
            text-align: left;

            &+p {
                text-align: left;
            }
        }

        &__item {
            grid-template-columns: 1fr;

            &:nth-child(1) {
                &:before {
                    width: 84px;
                    height: 30px;
                }
            }

            &:nth-child(2) {
                &:before {
                    width: 84px;
                    height: 30px;
                }
            }

            &:nth-child(3) {
                &:before {
                    width: 84px;
                    height: 30px;
                }
            }

            p {
                text-align: center;
            }
        }
    }

    .condition-analytics {
        h2 {
            width: 100%;
            text-align: left;

            &+p {
                text-align: left;
            }
        }
    }

    .widgets-analytics {
        &__box {
            width: 100%;
        }

        h2 {
            width: 100%;
            text-align: left;

            &+p {
                text-align: left;
                color: var(--grey-text);
            }
        }

        .widget-box {
            &__content {
                .mch-widget {
                    margin: auto;
                }
            }
        }
    }

    .footer {
        .menu {
            grid-template-columns: 1fr;
            gap: 60px;
        }

        &__nav {
            gap: 60px;
        }

        .btn-transparent {
            display: inline-block;
            width: auto;
        }
    }

    .content-contacts {
        &__box {
            display: flex;
            justify-content: space-between;

            a,
            address,
            div {
                text-align: right;
            }
        }
    }

    form {
        input {
            &[type="submit"] {
                width: 100%;
            }
        }
    }

    .benefit-main {
        h2 {
            text-align: left;

            &+p {
                text-align: left;
            }
        }

        &__item {
            grid-template-columns: 1fr;
            gap: 15px;
        }
    }

    .successes {
        h2 {
            text-align: left;
        }

        &__progress {
            gap: 8px;
            justify-content: start;
        }

        &__el {
            width: 100%;
            height: 100px;
        }

        &__content {
            p {
                text-align: left;

                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
    }

    .widget-box {
        &__header {
            display: none;
        }

        &__content {
            padding: 0;
            border: none;
            background: none;

            img {
                border-radius: 4px;
            }
        }
    }

    .btn {
        display: block;
        width: 100%;
        padding: 20px;
        text-align: center;

        &-transparent {
            display: block;
            width: 100%;
            padding: 20px;
            text-align: center;
        }

        &-white {
            display: block;
            width: 100%;
            padding: 20px;
            text-align: center;
        }

        &-black {
            display: block;
            width: 100%;
            padding: 20px;
            text-align: center;
        }
    }

    .in-numbers-about {
        &__title {
            font-size: 25px;
        }
    }

    .aside-news {
        &__banner {
            margin-left: -20px;
            margin-right: -20px;
        }

        &__list {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .aside-forecasts {
        &__banner {
            margin-left: -20px;
            margin-right: -20px;
        }

        &__list {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .hero-about {
        &__box {
            padding: 0;
            border: none;
            background: none;

            img {
                border-radius: 4px;
            }
        }
    }

    .banner-1 {
        .banner-text {
            text-align: center;

            &+p {
                text-align: center;
            }
        }
    }

    .banner-2 {
        .banner-text {
            font-size: 30px;
            text-align: center;

            &+p {
                text-align: center;
            }
        }
    }

    .banner-3 {
        .banner-text {
            text-align: center;

            &+p {
                text-align: center;
            }
        }
    }

    .basics-training {
        h2 {
            width: 100%;
            text-align: left;

            &+p {
                text-align: left;
            }
        }
    }

    .choice-platform {
        h2 {
            white-space: nowrap;
        }

        h3 {
            font-size: 14px;
        }
    }

    .pagination {
        li {
            width: 30px;
            height: 30px;
        }
    }

    .cookies {
        left: 20px;
        right: 20px;
        bottom: 20px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;

        .btn {
            width: calc(100% + 30px);
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}