@media (max-width: 500px) {

    h1,
    .h1 {
        font-size: 30px;
    }

    .header {
        .menu {
            &>.menu-item {
                width: 100%;

                &>a {
                    width: 100%;
                    justify-content: space-between;
                }
            }
        }
    }

    .hero-contacts {
        &__box {
            padding: 0;
            border: none;
            background: none;

            img {
                border-radius: 4px;
            }
        }
    }

    .documents-doc {
        h3 {
            font-size: 15px;
        }
    }

    .start-main {
        &__item {
            grid-template-columns: 1fr;
            gap: 15px;

            p {
                text-align: center;
            }
        }

        &__box {
            justify-items: center;
            text-align: center;
        }
    }

    .footer {
        .menu {
            grid-template-columns: 1fr;
            gap: 60px;
        }

        &__nav {
            gap: 60px;
        }

        .btn-transparent {
            display: inline-block;
            width: auto;
        }
    }

    .content-contacts {
        &__box {
            display: flex;
            justify-content: space-between;

            a,
            address,
            div {
                text-align: right;
            }
        }
    }

    form {
        input {
            &[type="submit"] {
                width: 100%;
            }
        }
    }

    .benefit-main {
        h2 {
            text-align: left;

            &+p {
                text-align: left;
            }
        }

        &__item {
            grid-template-columns: 1fr;
            gap: 15px;
        }
    }

    .successes {
        h2 {
            text-align: left;
        }

        &__progress {
            gap: 8px;
            justify-content: start;
        }

        &__el {
            width: 85px;
            height: 85px;
        }

        &__content {
            p {
                text-align: left;

                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }
    }

    .widget-box {
        &__header {
            display: none;
        }

        &__content {
            padding: 0;
            border: none;
            background: none;

            img {
                border-radius: 4px;
            }
        }
    }

    .btn {
        display: block;
        width: 100%;
        text-align: center;

        &-transparent {
            display: block;
            width: 100%;
            text-align: center;
        }

        &-white {
            display: block;
            width: 100%;
            text-align: center;
        }

        &-black {
            display: block;
            width: 100%;
            text-align: center;
        }
    }

    .in-numbers-about {
        &__title {
            font-size: 25px;
        }
    }

    .aside-news {
        &__banner {
            margin-left: -20px;
            margin-right: -20px;
        }

        &__list {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .aside-forecasts {
        &__banner {
            margin-left: -20px;
            margin-right: -20px;
        }

        &__list {
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    .hero-about {
        &__box {
            padding: 0;
            border: none;
            background: none;

            img {
                border-radius: 4px;
            }
        }
    }

    .banner-1 {
        .banner-text {
            text-align: center;

            &+p {
                text-align: center;
            }
        }
    }

    .banner-2 {
        .banner-text {
            font-size: 30px;
            text-align: center;

            &+p {
                text-align: center;
            }
        }
    }
}