@media (max-width: 500px) {

    h1,
    .h1 {
        font-size: 30px;
    }

    .start-main {
        &__item {
            grid-template-columns: 1fr;
            gap: 15px;

            p {
                text-align: center;
            }
        }

        &__box {
            justify-items: center;
            text-align: center;
        }
    }

    .footer {
        .menu {
            grid-template-columns: 1fr;
            gap: 60px;
        }

        &__nav {
            gap: 60px;
        }
    }

    .benefit-main {
        &__item {
            grid-template-columns: 1fr;
            gap: 15px;
        }
    }

    .successes {
        &__progress {
            gap: 8px;
        }

        &__el {
            width: 85px;
            height: 85px;
        }
    }

    .widget-box {
        &__header {
            display: none;
        }

        &__content {
            padding: 0;
            border: none;
            background: none;

            img {
                border-radius: 4px;
            }
        }
    }
}