@media (max-width: 600px) {
    .choice-platform {
        .container {
            &.desktop {
                display: none;
            }

            &.mobile {
                display: flex;
            }
        }

        h2 {
            &+p {
                display: none;
            }
        }

        &__item {
            grid-template-columns: 1fr;

            &--1 {
                .choice-platform__image {
                    &::after {
                        top: -55px;
                        bottom: 10px;
                    }
                }
            }

            &--2 {
                .choice-platform__image {
                    &::after {
                        top: -50px;
                        bottom: 10px;
                    }
                }
            }
        }

        &__image {
            height: 110px;
        }

        &__box {
            gap: 15px;
            justify-items: center;

            h3 {
                text-align: center;
            }

            p {
                text-align: center;
            }
        }

        &__links {
            width: 100%;
            gap: 15px;
        }
    }

    .aside-news {
        &__banner {
            grid-template-columns: 1fr;
        }

        &__preview {
            height: 240px;
        }
    }

    .aside-forecasts {
        &__banner {
            grid-template-columns: 1fr;
        }

        &__preview {
            height: 240px;
        }
    }

    .awars-about {
        &__list {
            gap: 15px;
        }

        &__item {
            width: 100%;
        }

        &__title {
            width: 160px;
            height: 160px;
            margin: auto;
            font-size: 12px;
            padding: 16px;
        }

        p {
            font-size: 14px;
        }
    }

    .banner-1 {
        &__box {
            padding: 165px 20px 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background: image-set(url(../images/banner-1-mobile.avif),
                    url(../images/banner-1-mobile.webp),
                    url(../images/banner-1-mobile.png)) left top / cover no-repeat;
        }
    }

    .banner-2 {
        &__content {
            width: 100%;
        }

        &__box {
            padding: 165px 20px 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background: image-set(url(../images/banner-1-mobile.avif),
                    url(../images/banner-1-mobile.webp),
                    url(../images/banner-1-mobile.png)) left top / cover no-repeat;
        }
    }

    .banner-3 {
        &__box {
            padding: 165px 20px 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            background: image-set(url(../images/banner-1-mobile.avif),
                    url(../images/banner-1-mobile.webp),
                    url(../images/banner-1-mobile.png)) left top / cover no-repeat;
        }
    }

    .basics-training {
        &__item {
            flex-direction: column !important;
            gap: 15px;
        }

        &__image {
            width: 100%;
            height: 160px;

            &::before {
                background-size: 100px 100px !important;
            }
        }
    }

    .study-training {
        &__list {
            grid-template-columns: 1fr;
        }

        h3 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }

    .how-quotes {
        &__image {
            width: 100%;
            min-width: initial;
            height: 100px;
        }

        &__item {
            flex-direction: column;
            gap: 45px;

            &:nth-child(2n) {
                flex-direction: column;
            }
        }

        &__box {
            gap: 15px;
        }

        .btn {
            width: 100%;
            text-align: center;
        }
    }

    .how-cryptocurrencies {
        &__image {
            width: 100%;
            min-width: initial;
            height: 100px;
        }

        &__item {
            flex-direction: column;
            gap: 45px;

            &:nth-child(2n) {
                flex-direction: column;
            }
        }

        &__box {
            gap: 15px;
        }

        .btn {
            width: 100%;
            text-align: center;
        }
    }

    .find-calendar {
        &__image {
            width: 100%;
            min-width: initial;
            height: 100px;
        }

        &__item {
            flex-direction: column;
            gap: 45px;

            &:nth-child(2n) {
                flex-direction: column;
            }
        }

        &__box {
            gap: 15px;
        }

        .btn {
            width: 100%;
            text-align: center;
        }
    }
}