@media (max-width: 768px) {

    h1,
    .h1 {
        max-width: 610px;
        margin: auto;
        text-align: center;
        font-size: 40px;
    }

    h2,
    .h2 {
        font-size: 30px;
    }

    h3,
    .h3 {
        font-size: 16px;
    }

    .banner-text {
        font-size: 30px;
    }

    .text1 {
        font-size: 16px;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .successes {
        &__progress {
            justify-content: start;
        }

        &__el {
            width: 105px;
            height: 105px;
        }
    }

    .footer {
        .menu {
            grid-template-columns: 1fr 1fr;
        }
    }

    .invest-main {
        &__list {
            display: none;
        }

        .swiper {
            display: block;

            &-button-prev,
            &-button-next {
                color: #FFFFFF33;
            }
        }
    }

    .btn {
        padding: 20px 50px;
        font-size: 16px;
        font-weight: 300;
        line-height: 130%;
        letter-spacing: -0.03em;

        &-transparent {
            padding: 20px 50px;
            font-size: 16px;
            font-weight: 300;
            line-height: 130%;
            letter-spacing: -0.03em;
        }

        &-white {
            padding: 20px 50px;
            font-size: 16px;
            font-weight: 300;
            line-height: 130%;
            letter-spacing: -0.03em;
        }

        &-black {
            padding: 20px 50px;
            font-size: 16px;
            font-weight: 300;
            line-height: 130%;
            letter-spacing: -0.03em;
        }
    }
}