@media (max-width: 768px) {

    h1,
    .h1 {
        max-width: 610px;
        margin: auto;
        text-align: center;
        font-size: 40px;
    }

    h2,
    .h2 {
        font-size: 30px;
    }

    h3,
    .h3 {
        font-size: 16px;
    }

    .banner-text {
        font-size: 30px;
    }

    .text1 {
        font-size: 16px;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .platform-main {
        .container {
            &::before {
                display: none;
            }
        }
    }

    .successes {
        h2 {
            margin-bottom: -15px;
        }

        &__box {
            width: 100%;
            gap: 15px;
        }

        &__content {
            p {
                max-width: 600px;
                margin: auto;
                text-align: center;

                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }

        &__el {
            width: 105px;
            height: 105px;
        }

        &__list {
            margin-top: 0;
            gap: 15px;
        }
    }

    .footer {
        .menu {
            grid-template-columns: 1fr 1fr;
        }
    }

    .invest-main {
        &__list {
            display: none;
        }

        .swiper {
            display: block;

            &-button-prev,
            &-button-next {
                color: #FFFFFF33;
            }
        }

        .btn {
            margin-top: 0;
        }
    }

    .benefit-main {
        &__list {
            margin-top: 0;
        }

        &__info {
            margin-top: 0;
        }
    }

    .widget-box {
        margin: 0;
    }

    .analytics-main {
        h2 {
            text-align: center;
        }

        p {
            margin: auto;
            text-align: center;
        }

        &__box {
            flex-direction: column;
        }
    }

    section {
        &:first-child {
            margin-top: 80px;
            padding-top: 150px;
        }
    }
}