@media (max-width: 768px) {

    h1,
    .h1 {
        max-width: 610px;
        margin: auto;
        text-align: center;
        font-size: 40px;
    }

    h2,
    .h2 {
        font-size: 30px;
    }

    h3,
    .h3 {
        font-size: 16px;
    }

    .banner-text {
        font-size: 30px;
    }

    .text1 {
        font-size: 16px;
    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .platform-main {
        .container {
            &::before {
                display: none;
            }
        }

        h2 {
            margin-bottom: -15px;

            &+p {
                color: var(--grey-text);
            }
        }
    }

    .successes {
        h2 {
            margin-bottom: -15px;
        }

        &__box {
            width: 100%;
            gap: 15px;
        }

        &__content {
            p {
                max-width: 600px;
                margin: auto;
                text-align: center;

                &:not(:last-child) {
                    margin-bottom: 15px;
                }
            }
        }

        &__el {
            width: 105px;
            height: 105px;
            font-size: 16px;
        }

        &__list {
            margin-top: 0;
            gap: 15px;
        }
    }

    .footer {
        .menu {
            grid-template-columns: 1fr 1fr;
        }
    }

    .invest-main {
        h2 {
            &+p {
                max-width: 250px;
                margin: auto;
                text-align: center;
                color: var(--grey-text);
            }
        }
        &__list {
            display: none;
        }

        &__item {
            width: 195px;
            height: 195px;
        }

        .btn {
            margin-top: 0;
        }
    }

    .conditions-platform {
        h2 {
            margin-bottom: -15px;

            &+p {
                color: var(--grey-text);
            }
        }

        &__list {
            display: none;
        }

        &__item {
            p {
                max-width: 270px;
                margin: auto;
                font-size: 16px;
            }
        }

        &__image {
            width: 195px;
            height: 195px;
            margin-bottom: 30px;
        }

        .btn {
            margin-top: 0;
        }
    }

    .swiper {
        display: block;

        &-button-prev,
        &-button-next {
            width: 8px;
            height: 20px;
            color: #FFFFFF33;
            font-size: initial;
            line-height: initial;
            top: 110px;

            &::after {
                width: inherit;
                height: inherit;
                font-size: initial;
                line-height: initial;
            }
        }

        &-slide {
            max-width: 100%;
        }
    }

    .benefit-main {
        h2 {
            margin-bottom: -15px;

            &+p {
                color: var(--grey-text);
            }
        }
        &__list {
            margin-top: 0;
        }

        &__info {
            margin-top: 0;
        }
    }

    .widget-box {
        margin-top: 0;
        margin-bottom: 0;
    }

    .start-main {
        h2 {
            margin-bottom: 0;
        }

        &__list {
            gap: 15px;
            margin-bottom: 0;
        }
    }

    .hero-platform {
        h2 {
            margin-top: -15px;
            margin-bottom: -15px;
        }

        .widget-box {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .choice-main {
        h2 {
            text-align: center;
        }

        &__item {
            gap: 30px;

            &:nth-child(1) {
                .choice-main__box {
                    max-width: 335px;
                }
            }

            &:nth-child(2) {
                .choice-main__box {
                    max-width: 335px;
                }
            }

            &:nth-child(3) {
                .choice-main__box {
                    max-width: 335px;
                }
            }
        }
    }

    .analytics-main {
        h2 {
            order: -3;
            text-align: center;

            &+p {
                order: -2;
                max-width: 245px;
                margin: auto;
            }
        }

        p {
            margin: auto;
            text-align: center;
        }

        &__box {
            flex-direction: column;
        }

        .widget-box {
            order: -1;
        }
    }

    section {
        &:first-child {
            margin-top: 80px;
            padding-top: 60px;
        }
    }

    .hero-main {
        .container {
            padding-top: 90px;
        }
    }

    .hero-news {
        .container {
            gap: 15px;
        }

        .btn {
            margin-top: 15px;
        }
    }

    .hero-about {
        h2 {
            margin-top: -15px;
            margin-bottom: -15px;
        }

        &__box {
            margin-top: -15px;
            margin-bottom: -15px;
        }
    }

    .hero-contacts {
        h2 {
            margin-top: -15px;
            margin-bottom: -15px;
        }
    }

    .hero-doc {
        h1 {
            margin-top: -15px;
            margin-bottom: -15px;
        }
    }

    .main-news {
        &__list {
            grid-template-columns: 1fr;
        }
    }

    .aside-news {
        grid-template-columns: 1fr;
        gap: 20px;

        &__banner {
            grid-template-columns: repeat(2, 1fr);
        }

        &__preview {
            height: 100%;
        }
    }

    .article {
        &__date {
            margin-bottom: 0;
        }

        &__list {
            margin-top: 0;
        }

        &__post {
            img {
                margin-bottom: 0;
            }
        }
    }

    .main-forecasts {
        &__list {
            grid-template-columns: 1fr;
        }
    }

    .aside-forecasts {
        grid-template-columns: 1fr;
        gap: 20px;

        &__banner {
            grid-template-columns: repeat(2, 1fr);
        }

        &__preview {
            height: 100%;
        }
    }

    .pagination {
        li {

            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                display: none;
            }
        }
    }

    .documents-doc {
        &__item {
            padding: 30px;
        }
    }

    .types-conditions {
        &__list {
            gap: 15px;
        }

        &__item {
            h3 {
                font-size: 20px;
            }

            li {
                font-size: 16px;
            }

            &:nth-child(2) {
                &::before {
                    top: -7px;
                }
            }
        }
    }

    .documents-doc {
        &__list {
            grid-template-columns: 1fr;
        }
    }

    .assets-conditions {
        &__box {
            margin-top: 0;
        }
    }

    .hero-conditions {
        h1 {
            margin-bottom: -15px;
        }

        .btn {
            &.mobile {
                display: inline-block;
            }
        }
    }

    .choice-platform {
        &__list {
            margin-top: 0;
        }
    }

    .content-contacts {
        .container {
            &>p {
                margin-right: initial;
                text-align: center;
            }
        }

        h2 {
            margin-top: -15px;
            text-align: center;
        }

        &__list {
            margin-top: 0;
        }

        &__info {
            font-size: 14px;
        }

        &__item {
            gap: 15px;
        }
    }

    form {
        gap: 10px;

        input {
            font-size: 16px;

            &[type="submit"] {
                margin-top: 5px;
            }
        }
    }

    .form-info {
        font-size: 14px;
    }

    .protection-about {
        h2 {
            margin-bottom: -15px;
        }

        &__list {
            margin-top: 0;
        }

        &__item {
            gap: 15px;
        }
    }

    .awars-about {
        h2 {
            margin-bottom: -15px;
        }

        &__list {
            margin-top: -15px;
        }
    }

    .in-numbers-about {
        &__title {
            font-size: 30px;
        }
    }

    .banner-1 {
        &__image {
            transform: translate(10px, 10px) rotate(3deg);
        }
    }

    .banner-2 {
        &__content {
            min-width: 270px;
        }

        &__image {
            transform: translate(10px, 10px) rotate(3deg);
        }
    }

    .banner-3 {
        &__image {
            transform: translate(10px, 10px) rotate(3deg);
        }
    }

    .basics-training {
        h2 {
            margin-bottom: -15px;
        }

        &__list {
            margin-top: 0;
            margin-bottom: 0;
        }

        &__item {
            padding: 30px;
        }

        h3 {
            font-size: 20px;
        }
    }

    .study-training {
        &__list {
            margin-top: 0;
            margin-bottom: 0;
            gap: 15px;
        }
    }
}