@media (max-width: 992px) {
    .successes {
        &__list {
            grid-template-columns: 1fr;
        }
    }

    .types-conditions {
        .container {
            background: image-set(url(../images/types-conditions-coin.avif),
                    url(../images/types-conditions-coin.webp),
                    url(../images/types-conditions-coin.png)) left 130px top / contain no-repeat;
        }

        &__item {
            &:nth-child(3) {
                li {
                    color: var(--grey-text);
                }
            }
        }
    }

    .how-quotes {
        &__image {
            min-width: 200px;
        }
    }

    .how-cryptocurrencies {
        &__image {
            min-width: 200px;
        }
    }

    .find-calendar {
        &__image {
            min-width: 200px;
        }
    }

    .widgets-analytics {
        .container {
            flex-direction: column;
        }

        h2 {
            max-width: 100%;
        }

        &__box {
            margin: auto;
        }
    }

    .banner-1 {
        &__box {
            padding: 40px 40px 0;
        }
    }

    .banner-2 {
        &__box {
            padding: 40px 40px 0;
        }

        p {
            font-size: 16px;
        }
    }

    .banner-3 {
        &__box {
            padding: 40px 40px 0;
        }
    }

    .invest-main {
        &__item {
            width: 120px;
            height: 120px;
        }
    }

    .footer {
        .container {
            grid-template-columns: 1fr;
        }

        &__copyright {
            grid-column: initial;
        }
    }

    .types-conditions {
        .container {
            &::before {
                display: none;
            }
        }

        &__list {
            width: 100%;
            grid-template-columns: 1fr;
            margin-top: 0;
            margin-bottom: 0;
        }

        &__item {
            &:nth-child(3) {
                grid-column: initial;
                grid-row: initial;
            }
        }
    }

    .assets-conditions {
        .container {
            &::before {
                display: none;
            }
        }
    }

    .choice-platform {
        &__list {
            grid-template-columns: 1fr;
        }

        &__item {
            grid-template-columns: 1fr 1fr;

            &--1 {
                .choice-platform__image {
                    &::after {
                        top: 20px;
                        left: 20px;
                        right: 20px;
                        bottom: 20px;
                    }
                }
            }

            &--2 {
                .choice-platform__image {
                    &::after {
                        top: 20px;
                        left: 20px;
                        right: 20px;
                        bottom: 20px;
                    }
                }
            }
        }

        .btn {
            padding: 20px;
        }

        &__image {
            height: 100%;
        }
    }
}