@media (min-width: 1000px) {
    .header {
        .menu {
            &>.menu-item:hover {
                .sub-menu {
                    display: flex;
                    opacity: 1;
                    animation: show-sub-menu .2s ease-in-out 0s 1 normal none;

                    &::before {
                        position: absolute;
                        top: -35px;
                        left: 0;
                        content: '';
                        width: 100%;
                        height: 40px;
                    }
                }
            }

            .sub-menu {
                transition: var(--transition);

                a {
                    transition: var(--transition);

                    &:hover {
                        color: var(--blue);
                    }
                }
            }
        }

        &.scrolled {
            .menu {
                a {
                    &:hover {
                        color: var(--green);
                    }
                }
            }
        }
    }

    .invest-main__item:hover::before {
        animation: rotate 1s linear 0s infinite normal none;
        backface-visibility: hidden;
    }

    .start-main__item {
        transition: var(--transition);

        &:hover {
            transform: translateY(-30px);
        }
    }

    .btn {
        transition: var(--transition);

        &:hover {
            color: var(--white);
            background: #3F3E3E;
            outline: 1px solid var(--green);
        }

        &-transparent {
            transition: var(--transition);

            &:hover {
                color: var(--black);
                background: var(--white);
                border: 1px solid var(--white);
            }
        }

        &-white {
            transition: var(--transition);

            &:hover {
                color: var(--white);
                background: #3F3E3E;
                outline: 1px solid var(--green);
            }
        }

        &-black {
            transition: var(--transition);

            &:hover {
                background: #000000B2;
            }
        }
    }

    .successes {
        &__el {
            transition: var(--transition);

            &:hover {
                scale: 1.05;
            }
        }
    }

    .footer {
        .menu {
            .sub-menu {
                .menu-item {
                    a {
                        transition: var(--transition);
                    }

                    &:hover {
                        a {
                            color: var(--green);
                        }
                    }
                }
            }
        }

        &__documents {
            a {
                transition: var(--transition);

                &:hover {
                    color: var(--green);
                }
            }
        }
    }
}