<section class="advantages-indexes">
    <div class="container">
        <h2>Наши преимущества</h2>
        <p class="text1">Воспользуйтесь широкими движениями фондового рынка CFD на индексы на крупнейших финансовых рынках в мире.</p>

        <div class="advantages-indexes__list">
            <div class="advantages-indexes__item advantages-indexes__item--1">
                <div class="advantages-indexes__image"></div>
                <p class="text1">Низкие спреды от 0.5 пункта</p>
            </div>

            <div class="advantages-indexes__item advantages-indexes__item--2">
                <div class="advantages-indexes__image"></div>
                <p class="text1">Новости финансового рынка</p>
            </div>

            <div class="advantages-indexes__item advantages-indexes__item--3">
                <div class="advantages-indexes__image"></div>
                <p class="text1">Исполнение от 0.1 секунды</p>
            </div>

            <div class="advantages-indexes__item advantages-indexes__item--4">
                <div class="advantages-indexes__image"></div>
                <p class="text1">Аналитика рынка</p>
            </div>

            <div class="advantages-indexes__item advantages-indexes__item--5">
                <div class="advantages-indexes__image"></div>
                <p class="text1">>150 инструментов для торговли</p>
            </div>

            <div class="advantages-indexes__item advantages-indexes__item--6">
                <div class="advantages-indexes__image"></div>
                <p class="text1">Квалифицированная поддержка специалистов</p>
            </div>
        </div>

        <a href="#" target="_blank" class="btn">Начать инвестировать</a>
    </div>
</section>