<section class="benefit-main">
    <div class="container">
        <h2>получайте максимум пользы от трейдинга</h2>
        <p class="text1">Освойте основные стратегии, улучшите навыки анализа и принимайте обоснованные торговые решения. Подходите к трейдингу с уверенностью и достигайте максимальных результатов!</p>

        <div class="benefit-main__list">
            <div class="benefit-main__item">
                <picture>
                    <source srcset="../images/benefit-main-item-1.avif">
                    <source srcset="../images/benefit-main-item-1.webp">
                    <img src="../images/benefit-main-item-1.png" alt="">
                </picture>

                <div class="benefit-main__box">
                    <h3>Используйте полезные виджеты и автоматизацию</h3>
                    <p class="text1">Настраивайте автоматическую торговлю, чтобы система сама торговала по заранее заданным правилам.</p>
                    <a href="#" target="_blank" class="text1 benefit-main__link">Подробнее</a>
                </div>
            </div>
            <div class="benefit-main__item">
                <picture>
                    <source srcset="../images/benefit-main-item-2.avif">
                    <source srcset="../images/benefit-main-item-2.webp">
                    <img src="../images/benefit-main-item-2.png" alt="">
                </picture>

                <div class="benefit-main__box">
                    <h3>Торгуйте на удобном терминале</h3>
                    <p class="text1">Используйте удобный терминал. Анализируйте рынок и принимайте решения с помощью графиков.</p>
                    <a href="#" target="_blank" class="text1 benefit-main__link">Подробнее</a>
                </div>
            </div>
            <div class="benefit-main__item">
                <picture>
                    <source srcset="../images/benefit-main-item-3.avif">
                    <source srcset="../images/benefit-main-item-3.webp">
                    <img src="../images/benefit-main-item-3.png" alt="">
                </picture>

                <div class="benefit-main__box">
                    <h3>Управляйте своими финансами через личный кабинет</h3>
                    <p class="text1">Управляйте счетами, следите за своими финансами и легко связывайтесь с брокером через личный кабинет.</p>
                    <a href="#" target="_blank" class="text1 benefit-main__link">Подробнее</a>
                </div>
            </div>
        </div>

        <p class="text1 benefit-main__info">Узнать больше и скачайте наши торговые платформы для торговли Форекс и CFD</p>
        <a href="#" target="_blank" class="btn">Попробовать платформу</a>
    </div>
</section>