<footer class="footer">
    <div class="container">
        <div class="footer__box">
            <a href="/" class="footer__logo">SOCAL TRADE LTD</a>
            <p class="text2">ваш ключ к миру высокоточных торгов</p>
            <a href="#" target="_blank" class="btn-transparent">Начать торговать</a>
        </div>

        <nav class="footer__nav">
            <ul class="menu">
                <li class="menu-item">
                    <a href="/">Главная</a>
                </li>
                <li class="menu-item">
                    <a href="#">Торговля</a>

                    <ul class="sub-menu">
                        <li class="menu-item"><a href="/conditions.html">Торговые условия</a></li>
                        <li class="menu-item"><a href="/platform.html">Торговая платформа</a></li>
                        <li class="menu-item"><a href="/training.html">Обучение трейдингу</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Аналитика</a>

                    <ul class="sub-menu">
                        <li class="menu-item"><a href="/review.html">Обзор рынка</a></li>
                        <li class="menu-item"><a href="/news.html">Новости рынка</a></li>
                        <li class="menu-item"><a href="/forecasts.html">Прогнозы рынка</a></li>
                        <li class="menu-item"><a href="/quotes.html">Онлайн котировки</a></li>
                        <li class="menu-item"><a href="/calendar.html">Экономический календарь</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">Инструменты</a>

                    <ul class="sub-menu">
                        <li class="menu-item"><a href="/stocks.html">Акции</a></li>
                        <li class="menu-item"><a href="/indexes.html">Индексы</a></li>
                        <li class="menu-item"><a href="/raw-material.html">Сырье</a></li>
                        <li class="menu-item"><a href="/currencies.html">Валюты</a></li>
                        <li class="menu-item"><a href="/cryptocurrencies.html">Криптовалюты</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a href="#">О компании</a>

                    <ul class="sub-menu">
                        <li class="menu-item"><a href="/about.html">О нас</a></li>
                        <li class="menu-item"><a href="/contacts.html">Контакты</a></li>
                        <li class="menu-item"><a href="/documents.html">Документы</a></li>
                    </ul>
                </li>
            </ul>

            <div class="footer__documents">
                <a href="#" target="_blank">Политика AML KYC</a>
                <a href="#" target="_blank">Политика возврата</a>
                <a href="#" target="_blank">Уведомление о рисках</a>
                <a href="#" target="_blank">Клиентское соглашение</a>
                <a href="#" target="_blank">Политика конфиденциальности</a>
            </div>
        </nav>

        <div class="footer__copyright">
            <p class="text2">Уведомление о рисках: Инвестирование в группы высокого риска: (Forex) и контрактами на разницу (CFD) является спекулятивной операцией, включая высокий риск, и не подходит для каждого инвестора. Вы можете понести частичные, так и полные потери вложенных средств, поэтому мы не советуем инвестировать капитал, которым вы не можете рисковать. Вы должны знать о повышенном риске, связанном с использованием кредитного плеча. Мы настоятельно рекомендуем вам ознакомиться с условиями и услугами нашего веб-сайта, прежде чем начать пользоваться нашим сервисом.</p>

            <p class="text2">Все права защищены. Socal Trade LTD</p>
        </div>
    </div>
</footer>

<script defer src="/js/main.min.js"></script>

</body>

</html>