<footer class="footer">
    <div class="container">
        <div class="footer__box">
            <div class="footer__logo">SOCAL TRADE LTD</div>
            <p class="text2">ваш ключ к миру высокоточных торгов</p>
            <a href="#" target="_blank" class="btn-transparent">Начать торговать</a>
        </div>

        <nav class="footer__nav">

        </nav>

        <div class="footer__copyright">
            <p class="text2">Уведомление о рисках: Инвестирование в группы высокого риска: (Forex) и контрактами на разницу (CFD) является спекулятивной операцией, включая высокий риск, и не подходит для каждого инвестора. Вы можете понести частичные, так и полные потери вложенных средств, поэтому мы не советуем инвестировать капитал, которым вы не можете рисковать. Вы должны знать о повышенном риске, связанном с использованием кредитного плеча. Мы настоятельно рекомендуем вам ознакомиться с условиями и услугами нашего веб-сайта, прежде чем начать пользоваться нашим сервисом.</p>

            <p class="text2">Все права защищены. Socal Trade LTD</p>
        </div>
    </div>
</footer>

<script defer src="/js/main.min.js"></script>

</body>

</html>