<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale = 1.0">
    <!-- Берется из js -->
    <title></title>

    <link rel="stylesheet" href="/css/style.min.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <a href="/" class="header__logo">SOCAL TRADE LTD</a>

            <ul class="menu">
                <li class="menu-item">
                    <a href="#">Главная</a>
                </li>
                <li class="menu-item">
                    <a href="#">Торговля</a>
                </li>
                <li class="menu-item">
                    <a href="#">Аналитика</a>
                </li>
                <li class="menu-item">
                    <a href="#">Инструменты</a>
                </li>
                <li class="menu-item">
                    <a href="#">О компании</a>
                </li>
            </ul>

            <a href="#" class="btn-transparent" target="_blank">Открыть счёт</a>
        </div>
    </header>