<section class="start-main">
    <div class="container">
        <h2>Начать торговать просто</h2>

        <div class="start-main__list">
            <div class="start-main__item">
                <div class="start-main__box">
                    <h3>Зарегистрируйтесь</h3>
                    <p class="text1">Ведите имя и адрес электронной почты, чтобы начать торговать</p>
                </div>
            </div>
            <div class="start-main__item">
                <div class="start-main__box">
                    <h3>Пополните счет</h3>
                    <p class="text1">Начните инвестировать с 1 евро, торговать — со 100 евро</p>
                </div>
            </div>
            <div class="start-main__item">
                <div class="start-main__box">
                    <h3>Торгуйте</h3>
                    <p class="text1">Мы предлагаем более 180 инструментов для прибыльной торговли</p>
                </div>
            </div>
        </div>

        <a href="#" target="_blank" class="btn">Зарегистрироваться</a>
    </div>
</section>